@model ShareAVilla.Models.Find.SearchVM


<style>
    
    .property {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
    /*.form-wrapper {
        display: flex;
        justify-content: flex-start;
        align-content: center;
        margin-top:0;
    }*/
</style>

<div class="property">
    
    <div style="position:fixed;z-index:2000">
        @if (IsPost)
        {
            @Html.Partial("~/Views/Searches/_SearchMaskPartial.cshtml", Model)
        }
        else
        {
            @Html.Partial("~/Views/Searches/_SearchMaskPartial.cshtml")
        }
    </div>

</div>
@if (IsPost)
{
    if (Model.LikibuResults != null)
    {
    <div style="display:flex;flex-direction:row;">
        <div class="col-md-4" style="position:fixed;background-position:top">

            @Html.Partial("~/Views/Searches/_SearchMapPartial.cshtml", Model)
            
        </div>
        
        <div class="col-md-offset-4 col-md-8" style="margin-top:35px">          
                @Html.Partial("~/Views/Searches/_SearchResultsPartial.cshtml", Model)
            <div class="col-md-4" style="display:flex;justify-content:flex-start;margin-top:20px">
                
                    @Html.Partial("~/Views/Searches/_PageSelectPartial.cshtml", Model)
              
            </div>
        </div>
       
        
        
    </div>
    }
}