@model ShareAVilla.Models.RoomRequest.ReservationsVM      
@{
    ViewBag.Title = "SelectRoom";
}
<hr/>
<h2>Request</h2>
<h4>Select Room</h4>
<hr/>
<div>
  
    <div>
        @Html.DisplayText("Applicants")
        @Html.Partial("~/Views/RoomRequests/_RoomRequestSpecs.cshtml", Model.Approvals)
    </div>
    <hr/>
    @foreach (var room in Model.BedRooms)
    {
        @Html.Partial("~/Views/Accommodations/_BedRoomSpecsPartial.cshtml", room)
        <hr/>
        if (Model.Reservations.Count > 0)
        {
            foreach (var reservation in Model.Reservations)
            {

                if (reservation.RoomID == room.ID)
                {
                <hr/>
                @Html.Partial("~/Views/RoomRequests/_RoomRequestSpecs.cshtml", reservation)
                }
            }


        }
        
    }

</div>
<p>    
    @Html.ActionLink("Back to List", "Index")
</p>
