@model ShareAVilla.Models.Request.RequestVMFree
           
@{
    ViewBag.Title = "Create Request";
}
<style type="text/css">
    .property-col {
        margin-left:50px;
    }

</style>
<h4>Request</h4>
<h5>Create</h5>
<hr/>
@using (Html.BeginForm()) 
{
   
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model=>model.Lat)
    @Html.HiddenFor(model => model.Lng)

    ///-Request Properties: -Title, -Text, -Options
<div class="property-col">
    <div class="property">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "labellogin" })
        <div class="col-md-3 textboxinput">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>
    <br/>
    <div class="property">
        @Html.LabelFor(model => model.CheckIn, htmlAttributes: new { @class = "labellogin" })
        <div class="col-md-2 textboxinput">
            @Html.TextBoxFor(model => model.CheckIn, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
            @Html.ValidationMessageFor(model => model.CheckIn, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(model => model.CheckOut, htmlAttributes: new { @class = "labellogin" })
        <div class="col-md-2 textboxinput">
            @Html.TextBoxFor(model => model.CheckOut, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
            @Html.ValidationMessageFor(model => model.CheckOut, "", new { @class = "text-danger" })
        </div>
    </div>
        
    <br/>
    <div class="property">
        @Html.LabelFor(model => model.MinPrice, htmlAttributes: new { @class = "labellogin" })
        <div class="col-md-2">
            @Html.EditorFor(model => model.MinPrice, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MinPrice, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(model => model.MaxPrice, htmlAttributes: new { @class = "labellogin" })
        <div class="col-md-2 textboxinput">
            @Html.EditorFor(model => model.MaxPrice, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MaxPrice, "", new { @class = "text-danger" })
        </div>
    </div>   
    <br/>
    <div class="property">
        @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "labellogin" })
        <div class="col-md-2 textboxinput">
            @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
        </div>
    </div>
    <br/>
    <div class="property">
        @Html.LabelFor(model => model.Lat, htmlAttributes: new { @class = "labellogin" })
        <div class="col-md-2 textboxinput">
            @Html.EditorFor(model => model.Lat, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        @Html.LabelFor(model => model.Lng, htmlAttributes: new { @class = "labellogin" })
        <div class="col-md-2 textboxinput">
            @Html.EditorFor(model => model.Lng, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>        
    <br/>
    <div class="property">
        @Html.LabelFor(model => model.BedRooms, htmlAttributes: new { @class = "labellogin" })
        <div class="col-md-1 textboxinput">
            @Html.DropDownListFor(model => model.BedRooms, new List<SelectListItem>
                    {
                            new SelectListItem() {Text = "1", Value="1"},
                            new SelectListItem() {Text = "2", Value="2"},
                            new SelectListItem() {Text = "3", Value="3"},
                            new SelectListItem() {Text = "4", Value="4"},
                            new SelectListItem() {Text = "5", Value="5"},
                            new SelectListItem() {Text = "more", Value="6"},


                    }, new { @class = "form-control" })               
        </div>
    </div>
    <br/>
    <div class="property">
        @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "labellogin" })
        <div class="col-md-4 textboxinput">
            @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control", style="height:150px" } })
            @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
        </div>
    </div>
    <br/>
    <div class="property">
        @Html.LabelFor(model => model.Link, htmlAttributes: new { @class = "labellogin" })
        <div class="col-md-3 textboxinput">
            @Html.EditorFor(model => model.Link, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
        </div>
    </div>
    <br/>

</div>
<div class="property">
    <div class="col-xs-offset-1 col-md-1" style="margin-bottom:20px">
        <input type="submit" value="Create Request" class="btn btn-default" />
    </div>
</div>
}

<div class="property">
    @Html.ActionLink("Back Home", "Index", "Home")
</div>

