@model ShareAVilla.Models.Request.RequestVMUser
    
@{
    ViewBag.Title = "Details";
}

<h4>Request</h4>
<h5>Details</h5>
<hr />

<div>
   
    <dl class="dl-horizontal">
        
      
        <dd>
            <img src="@Url.Content(Model.Thumb.FirstOrDefault())" />
            <br />
        </dd>
        
        <dt>
            @Html.LabelFor(model => model.RQOwner, htmlAttributes: new { @class = "labellogin" })
        </dt>
        <dd>
            @Html.Partial("~/Views/Shared/_ProfilePrevPartial.cshtml", Model.RQOwner)
        </dd>
        <dt>
            @Html.LabelFor(model => model.CheckIn, htmlAttributes: new { @class = "labellogin" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckIn)
        </dd>

        <dt>
            @Html.LabelFor(model => model.CheckOut, htmlAttributes: new { @class = "labellogin" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckOut)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "labellogin" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.LabelFor(model => model.BedRooms, htmlAttributes: new { @class = "labellogin" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BedRooms)
        </dd>

        <dt>
            @Html.LabelFor(model => model.MaxGuests, htmlAttributes: new { @class = "labellogin" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxGuests)
        </dd>

        @if (Model.requestType == ShareAVilla.Models.Request.RequestType.Bound)
        {
            <dt>
                @Html.LabelFor(model => model.PricePDay, htmlAttributes: new { @class = "labellogin" })
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PricePDay)
            </dd>

            <dt>
                @Html.LabelFor(model => model.PricePWeek, htmlAttributes: new { @class = "labellogin" })
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PricePWeek)
            </dd>

            <dt>
                @Html.LabelFor(model => model.PricePMonth, htmlAttributes: new { @class = "labellogin" })
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PricePMonth)
            </dd>
            <dt>
                @Html.LabelFor(model => model.TotalPrice, htmlAttributes: new { @class = "labellogin" })
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalPrice)
            </dd>
        }
        @if (Model.requestType == ShareAVilla.Models.Request.RequestType.Free)
        {
            <dt>
                @Html.LabelFor(model => model.PriceMax, htmlAttributes: new { @class = "labellogin" })
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PriceMax)
            </dd>
            <dt>
                @Html.LabelFor(model => model.PriceMin, htmlAttributes: new { @class = "labellogin" })
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PriceMin)
            </dd>

        }
        <dt>
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "labellogin" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "labellogin" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>


        <dt>
            @Html.Label("Link:", htmlAttributes: new { @class = "labellogin" })
        </dt>
        <dd>
            <a href="@Model.URL">Click me!</a>
        </dd>
    </dl>
</div>
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID)

    <div style="margin-left:180px">
        @Html.ActionLink("Apply", "Create", "RoomRequests", new { id = Model.ID }, new { @class = "btn btn-default" })
    </div>
}
<br />


