@model ShareAVilla.Models.Request.RequestVMOwner
     
@{
    ViewBag.Title = "Details";
}

<h4>Request</h4>
<h5>Details</h5>
<hr/>

<div>
  
    <dl class="dl-horizontal">
        <dd>
            <img src="@Url.Content(Model.Thumbs.FirstOrDefault())" />
        
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.CheckIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BedRooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BedRooms)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxGuests)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxGuests)
        </dd>
        @if (Model.requestType == ShareAVilla.Models.Request.RequestType.Bound)
        {
        <dt>
            @Html.DisplayNameFor(model => model.PricePNight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PricePNight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PricePWeek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PricePWeek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PricepMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PricepMonth)
        </dd>       

        <dt>
            @Html.DisplayNameFor(model => model.PricePRoomPerTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PricePRoomPerTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPricePRq)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPricePRq)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SalesPricePNight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesPricePNight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesPricePWeek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesPricePWeek)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SalesPricepMonth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalesPricepMonth)
        </dd>   
        }
        @if (Model.requestType == ShareAVilla.Models.Request.RequestType.Free)
        {
            <dt>
                @Html.DisplayNameFor(model => model.PriceRange)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PriceRange)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>

        <dd>
            <a href="@Model.Link">Link</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model=> model.RoomRequests)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoomRequests)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit Request", "Edit", new { id = Model.ID }, null) |
    @Html.ActionLink("Reservations", "Reservations", new { id = Model.ID } ) |
    @Html.ActionLink("Select Flatmates", "SelectFlatmates", "RoomRequests",  new  { id = Model.ID, update = 0, rrqid = 0 } , null)
  
</p>
@Html.ActionLink("Back to List", "Index", "Requests")