@model List<ShareAVilla.Models.Request.RequestVMListing>
    
@{
    ViewBag.Title = "Index";
}

<h4>Requests</h4>
<h5>Overview</h5>
<hr />

@if (Model.Count() > 0)
{
<table class="table">
    <tr>
        <th class="col-md-2">
      
        </th>
        <th class="col-sm-2 labellogin">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Title)
        </th>        
        <th class="labellogin">
            @Html.DisplayNameFor(model => model.FirstOrDefault().CheckIn)
        </th>
        <th class="labellogin">
            @Html.Raw("till:")
            
        </th>
        <th class="labellogin">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Destination)
        </th>           
        <th class="labellogin">
            @Html.DisplayNameFor(model => model.FirstOrDefault().RoomRequests)
        </th>                
    </tr>

     @foreach (var item in Model) {
        <tr>    
            <td class="col-md-2">  
                <div>
                    @Html.Partial("~/Views/Requests/_RequestPrevPartialWoApply.cshtml", item)
                </div>
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
        
                @* Stats *@
            <td>
                @Html.DisplayFor(modelItem => item.RoomRequests)
            </td>
   
            <td>
                @Html.ActionLink(linkText: "Choose Flatmates", actionName: "SelectFlatmates", controllerName: "RoomRequests", routeValues: new { id = item.ID , update = 0, rrqid = 0 }, htmlAttributes : null) 
            </td>
            <td>
                @Html.ActionLink("Reservations", "Reservations", new { id = item.ID }) @*Show Reservations and Approved ->Overview*@
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) 
            </td>
            <td>
                @Html.ActionLink("Cancel", "Delete", new { id = item.ID }, null)
            </td>
        </tr>
     }



</table>
}
else
{
    <h5 style="margin-left:50px">No Requests found</h5>
    <hr/>
}

@using (Html.BeginForm("CreateFree", "Requests"))
{

    @Html.AntiForgeryToken()

    <input type="submit" value="Create Request" class="btn btn-default" />
}
<br/>



@*<p>
    @Html.ActionLink("Show Request owner", "PublicDetails", "Profiles", new { id = Model.ID }, null) |
    |
    @Html.ActionLink("Apply", "Apply", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
