@model ShareAVilla.Models.Accommodation.Accommodation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Accommodation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccomProfile.AType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccomProfile.AType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Verified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Verified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.objState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.objState)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
