@model ShareAVilla.Models.VM.CreateReviewVM
      
<link rel="stylesheet" href="~/Content/jquery.rateyo.css" />
@*<script src="~/Scripts/"></script>*@
<script src="~/Scripts/jquery.rateyo.js"></script>
@*<script src="~/Scripts/jquery.barrating.js"></script>*@

<script type="text/javascript">
    $(document).ready(function() {
        $("#setstarrating").rateYo({
            rating: '0.0f'
        });
        
        $('#setstarrating').on('click', function () {
            console.log("Ranking set ");
            var val = $("#setstarrating").rateYo("option", "rating");                       
            document.getElementById("Ranking").value = val;            
                        
        });
  

    });
</script>

@*"PostReview", "Profiles", FormMethod.Post, new { id = Model.ID })*@

@using(Html.BeginForm(new { controller = "Profiles", action = "_PostReview" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model=>model.ID)
    @Html.HiddenFor(model=>model.Ranking)
    <dl class="dl-horizontal">
        <dt style="margin-bottom:10px">
            @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "labellogin" })
        </dt>

        <dd style="margin-top:40px;margin-bottom:15px">

            @Html.DropDownListFor(model => model.Role, new List<SelectListItem>
                    {
                            new SelectListItem() {Text = "Host", Value="Host"},
                            new SelectListItem() {Text = "Guest", Value="Guest"},
                    }, new { htmlAttributes = new { @class = "form-control col-md-2" } })

            @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
        </dd>

        <dt>
            @Html.LabelFor(model => model.Ranking, htmlAttributes: new { @class = "labellogin" })
        </dt>
        <dd>
            <div id="setstarrating"></div>
        </dd>

        <dt style="margin-top:20px">
            @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "labellogin" })
        </dt>

        <dd style="margin-top:20px;height:150px;width:500px">
            @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control", style="height:150px"} })
            @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
        </dd>



        <dd style="margin-top:10px">
            <input type="submit" value="Post" class="btn btn-default" />
        </dd>
    </dl>
}