@model ShareAVilla.Models.VM.TravelerProfileVM


<div style="margin-left:50px">
    <hr />
    <h5>Reviews</h5>

    @if (!Model.User)
    {
        @*<div style="margin-left:50px">*@
        <h6>
           Post Review:
        </h6>
        <div style="margin-left:30px">
            @Html.Partial("~/Views/Profiles/_PostReviewPartial.cshtml", Model.createReview)
        </div>
        <hr />
        @*</div>*@


    }


    <h6>
        History:
    </h6>
    <dl class="dl-horizontal" style="margin-left:30px">

        @foreach (var item in Model.ReviewsVM.Reviews)
        {

            <dt class="labellogin">
                @Html.Raw("Reviewer:")
            </dt>
            <dd style="margin-bottom:10px">
                
                @Html.Partial("~/Views/Shared/_ProfilePrevPartial.cshtml", item.Poster)
                
            </dd>
            <dt class="labellogin" style="margin-top:5px">
                @Html.DisplayNameFor(modelItem => item.Role)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Role)
            </dd>
            
            <dt class="labellogin" style="margin-top:10px">
                @Html.DisplayNameFor(modelItem => item.Points)
            </dt>

            <dd style="margin-top:5px;margin-bottom:5px">
                <div style="display:flex;flex-direction:row;">
                    <div style="margin-top:0px;margin-bottom:0px">
                        @Html.Raw(item.Points.ToString("0.0"))
                    </div>
                    @Html.Partial("~/Views/Shared/_ReadRatingPartial.cshtml", item.Points.ToString())
                </div>
            </dd>
            
            <dt class="labellogin" style="margin-top:5px">
               @Html.DisplayNameFor(modelItem => item.Comment)
            </dt>

            <dd>
                @Html.Raw(item.Comment.Replace("\n", "<br />"))
                @if (item != Model.ReviewsVM.Reviews.Last())
                {
                <hr />
                }
            </dd>
        }
    </dl>
</div>

