@model ShareAVilla.Models.VM.TravelerProfileVM     
   
@{
    ViewBag.Title = "Details";
}
@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
<style type="text/css">
    .profilepicdetail {
        margin-top:20px;
        width:150px;
        max-width:150px;
        height:150px;
        display:flex;
        align-self:stretch;
    }
</style>


<h4>Profile</h4>
<h5>Details</h5>
<hr />
<div>

    <dl class="dl-horizontal">
        @if (Model.DescriptionVM.ProfilePic.PictureType == PictureType.Avatar)
        {
        <dd>
            
                @HtmlCustomHelper.Image(Html, Model.DescriptionVM.ProfilePic.Content, "profilepicdetail")
            
        </dd>
        }
        <dt style="margin-top:10px;margin-bottom:5px">
            @Html.Label("Rating:", new {@class="labellogin" })
        </dt>
        <dd>
            <div style="display:flex;flex-direction:row">
                <div style="margin-left:0px;margin-top:15px;margin-right:5px">
                    @Html.Raw(Model.ReviewsVM.Score.ToString("0.00"))
                </div>
                <div style="margin-top:15px">
                    @Html.Partial("~/Views/Shared/_ReadRatingPartial.cshtml", Model.ReviewsVM.Score.ToString())
                </div>
            </div>
        </dd>
        <dt class="labellogin" style="margin-top:0px">
            @Html.DisplayNameFor(model => model.DescriptionVM.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionVM.Name)
        </dd>

        <dt class="labellogin" style="margin-top:5px">
            @Html.DisplayNameFor(model => model.DescriptionVM.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionVM.Age)
        </dd>

        <dt class="labellogin" style="margin-top:5px">
            @Html.DisplayNameFor(model => model.DescriptionVM.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionVM.Sex)
        </dd>
        
        <dt class="labellogin" style="margin-top:5px">
            @Html.DisplayNameFor(model => model.DescriptionVM.Text)
        </dt>

        <dd style="margin-top:0px">
            @Html.Raw(Model.DescriptionVM.Text.Replace("\n", "<br />"))
            
        </dd>
    </dl>

    <dl class="dl-horizontal">
       @{
        <dt class="labellogin" style="margin-top:5px">
            @Html.DisplayNameFor(model => model.AttributesVM.NoiseLevel)
        </dt>
        
            string noiselevel = "Nevermind";
            switch (Model.AttributesVM.NoiseLevel)
            {
                case 1: noiselevel = "Quiet please!"; break;
                case 2: noiselevel = "Nevermind"; break;
                case 3: noiselevel = "Party On!"; break;
                default: noiselevel = "Nevermind"; break;
            }
        <dd style="margin-top:20px">
            @noiselevel
        </dd>
               
            }
        <dt class="labellogin" style="margin-top:10px">
            @Html.DisplayNameFor(model => model.AttributesVM.IsSmoking)
        </dt>

        <dd style="margin-top:10px">
            @Html.DisplayFor(model => model.AttributesVM.IsSmoking)
        </dd>

        <dt class="labellogin" style="margin-top:5px">
            @Html.DisplayNameFor(model => model.AttributesVM.IsVegetarian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttributesVM.IsVegetarian)
        </dd>

        <dt class="labellogin" style="margin-top:5px">
            @Html.DisplayNameFor(model => model.AttributesVM.Nomad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttributesVM.Nomad)
        </dd>
        <dt class="labellogin" style="margin-top:5px">
            @Html.DisplayNameFor(model => model.AttributesVM.HasPets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttributesVM.HasPets)
        </dd>
        <dt class="labellogin" style="margin-top:5px">
            @Html.DisplayNameFor(model => model.AttributesVM.Yoga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttributesVM.Yoga)
        </dd>


    </dl>


    @Html.Partial("~/Views/Profiles/_ProfileReviewPartial.cshtml", Model)

</div>
<p style="margin-top:10px">
    @Html.ActionLink("Back", "Index") | @Html.ActionLink("Edit Profile", "Edit")
</p>



