@model ShareAVilla.Models.RoomRequest.RoomRequestVMUser 
    @* To Create a RoomRequest *@
        
@Html.HiddenFor(model=>model.Request_ID)
@Html.HiddenFor(model => model.RoomRqID)
@Html.HiddenFor(model => model.RequestOwner)
@Html.HiddenFor(model => model.CheckInRequest)
@Html.HiddenFor(model => model.CheckOutRequest)
@Html.HiddenFor(model => model.PricePNigthPRoom)
@Html.HiddenFor(model => model.PricePWeekPRoom)
@Html.HiddenFor(model => model.PricePMonthPRoom)
@Html.HiddenFor(model => model.PricePRoomPTime)
@Html.HiddenFor(model => model.BedRooms)
@Html.HiddenFor(model=>model.RqType)


<div class="property-col" style="margin-left:50px">
    <div class="property">
        @Html.LabelFor(model => model.CheckInRequest, htmlAttributes: new { @class = "labellogin" })
        <div class="col-md-2">
            @Html.DisplayFor(model => model.CheckInRequest, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
        </div>
        @Html.LabelFor(model => model.CheckOutRequest, htmlAttributes: new { @class = "labellogin", style="width: 20px;" })
        <div class="col-md-2">
            @Html.DisplayFor(model => model.CheckOutRequest, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
        </div>
        @Html.LabelFor(model => model.BedRooms, htmlAttributes: new { @class = "labellogin" })
        <div class="col-md-2">
            @Html.DisplayFor(model => model.BedRooms)
        </div>
    </div>

    <hr class="col-md-9"/>

    @if (Model.RqType == ShareAVilla.Models.Request.RequestType.Bound)
    {

        <div class="property">
            @Html.LabelFor(model => model.PricePNigthPRoom, htmlAttributes: new { @class = "labellogin", style="width:80px" })
            <div class="col-md-1">
                @Html.DisplayFor(model => model.PricePNigthPRoom)
            </div>
            @Html.LabelFor(model => model.PricePWeekPRoom, htmlAttributes: new { @class = "labellogin", style = "width:80px" })
            <div class="col-md-1">
                @Html.DisplayFor(model => model.PricePWeekPRoom)
            </div>
            @Html.LabelFor(model => model.PricePMonthPRoom, htmlAttributes: new { @class = "labellogin", style = "width:80px" })
            <div class="col-md-1">
                @Html.DisplayFor(model => model.PricePMonthPRoom)
            </div>
            
        </div>
        <br/>
        <div class="property">
            @Html.LabelFor(model => model.PricePRoomPTime, htmlAttributes: new { @class = "labellogin", style = "width:80px" })
            <div class="col-md-2">
                @Html.DisplayFor(model => model.PricePRoomPTime)
            </div>
        </div>
    }
    @if (Model.RqType == ShareAVilla.Models.Request.RequestType.Free)
    {
        <div class="property">
            @Html.LabelFor(model => model.PriceSpan, htmlAttributes: new { @class = "labellogin" })
            <div class="col-md-2">
                @Html.DisplayFor(model => model.PriceSpan)
            </div>
        </div>
    }

    <hr class="col-md-9"/>
  
    @if (Model.RequestOwner)
    {
        <div class="property">
            @Html.LabelFor(model => model.RequestOwner, htmlAttributes: new { @class = "labellogin", style="width:500px" })
        </div>
      
        <br/>
    }

    <div class="property">
        @Html.LabelFor(model => model.DoubleBed, htmlAttributes: new { @class = "labellogin" })
        <div class="col-md-2">
            @Html.EditorFor(model => model.DoubleBed)
            @Html.ValidationMessageFor(model => model.DoubleBed, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(model => model.SingleBed, htmlAttributes: new { @class = "labellogin" })
        <div class="col-md-2">
            @Html.EditorFor(model => model.SingleBed)
            @Html.ValidationMessageFor(model => model.SingleBed, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(model => model.Nevermind, htmlAttributes: new { @class = "labellogin" })
        <div class="col-md-2">
            @Html.EditorFor(model => model.Nevermind)
            @Html.ValidationMessageFor(model => model.Nevermind, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(model => model.ShareRoom, htmlAttributes: new { @class = "labellogin" })
        <div class="col-md-2">
            @Html.EditorFor(model => model.ShareRoom)
            @Html.ValidationMessageFor(model => model.ShareRoom, "", new { @class = "text-danger" })
        </div>
    </div>

    <hr class="col-md-9"/>

    <div class="property">
        @Html.LabelFor(model => model.CheckIn, htmlAttributes: new { @class = "labellogin" })
        <div class="col-md-2 textboxinput" style="margin-right:20px">
            @Html.TextBoxFor(model => model.CheckIn, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
            @Html.ValidationMessageFor(model => model.CheckIn, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(model => model.CheckOut, htmlAttributes: new { @class = "labellogin" })
        <div class="col-md-2 textboxinput">
            @Html.TextBoxFor(model => model.CheckOut, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
            @Html.ValidationMessageFor(model => model.CheckOut, "", new { @class = "text-danger" })
        </div>
    </div>


    @if (!Model.RequestOwner)
    {

        <hr class="col-md-9"/>
        <div class="property">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "labellogin" })
            <div class="col-md-2 textboxinput">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>
        <br/>
        <div class="property" style="height: 200%">
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "labellogin" })
            <div class="col-md-5 textboxinput" style="height: 200%">
                @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control col-md-5", style="height: 200%" } })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>

    }
</div>