@model ShareAVilla.Models.RoomRequest.RoomRequestVMOwner
@* To show RqOwner a RoomRequests only a short version*@
<div>    
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Applicant: ", htmlAttributes: new { @class = "labellogin" })
        </dt>
        <dd>
            @Html.Partial("~/Views/Shared/_ProfilePrevPartial.cshtml", Model.ApplyingTraveler)
        </dd>
        <dt>
            @Html.LabelFor(model => model.CheckIn, htmlAttributes: new { @class = "labellogin" })
        </dt>
        <dd>
            @Html.Raw(Model.CheckIn.ToShortDateString())
        </dd>
        <dt>
            @Html.LabelFor(model => model.CheckOut, htmlAttributes: new { @class = "labellogin" })
        </dt>
        <dd>
            @Html.Raw(Model.CheckOut.ToShortDateString())
        </dd>        
        <dt>
            @Html.LabelFor(model => model.DoubleBed, htmlAttributes: new { @class = "labellogin" })
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DoubleBed)
        </dd>
        <dt>
            @Html.LabelFor(model => model.SingleBed, htmlAttributes: new { @class = "labellogin" })
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SingleBed)
        </dd>
        <dt>
            @Html.LabelFor(model => model.ShareRoom, htmlAttributes: new { @class = "labellogin" })
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShareRoom)
        </dd>       
        <dt>
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "labellogin" })
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "labellogin" })
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>
    </dl>
</div>

