@model List<ShareAVilla.Models.RoomRequest.RoomRequestListUser>    
 
@{
    ViewBag.Title = "Index";
}
<h4>My Applications</h4>
<h5>Overview</h5>


@if (Model.Count > 0)
{
<table class="table">
    <tr>
        <th class="col-xs-2">

        </th>    
        <th>
            @Html.LabelFor(model=>model.FirstOrDefault().CheckIn, htmlAttributes: new { @class = "labellogin" })
        </th>
        <th>
            @Html.LabelFor(model => model.FirstOrDefault().CheckOut, htmlAttributes: new { @class = "labellogin" })
        </th>
        <th>
            @Html.LabelFor(model => model.FirstOrDefault().Roomtype, htmlAttributes: new { @class = "labellogin" })
        </th>
        <th>
            @Html.LabelFor(model => model.FirstOrDefault().Price, htmlAttributes: new { @class = "labellogin" })
        </th>
        <th>
            @Html.LabelFor(model => model.FirstOrDefault().Status, htmlAttributes: new { @class = "labellogin" })
        </th>
        <th></th>@*Edit*@
        <th></th>
        <th></th>
    </tr>
   
        @foreach (var item in Model)
        {

            <tr>
                <td>
                   @Html.Partial("~/Views/RoomRequests/_RequestPrevPartialListing.cshtml", item)                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckOut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Roomtype)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ShareRoom)
                    </td>*@

                <td>
                    @if (item.Rstate == ShareAVilla.Models.RoomRequest.RoomRequestResponseStatus.Proposed)
                    {
                        @Html.ActionLink("Check Proposal", "Edit", new { id = item.ID })  
                    }
                    else
                    {
                        if (item.Rstate != ShareAVilla.Models.RoomRequest.RoomRequestResponseStatus.Approved && item.Rstate != ShareAVilla.Models.RoomRequest.RoomRequestResponseStatus.Reserved)
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) 
                        }

                    }

                    @Html.ActionLink("Details", "Details", new { id = item.ID }) 
                    @Html.ActionLink("Cancel", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

</table>
}
else
{
    <h5>No Room Requests found</h5>
    <hr/>
}

@Html.ActionLink("Back Home", "Index", "Home")