@model ShareAVilla.Models.RoomRequest.RoomRequestVMOwner
    
@{
    ViewBag.Title = "Proposal";
}

<h4>Room Request</h4>
<h5>Make a Proposal</h5>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="property-col" style="margin-left:50px">
        
        
       @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       @Html.HiddenFor(model => model.ID)
       @Html.HiddenFor(model => model.Request_ID)
        
        
        
        <div class="property">
            @Html.LabelFor(model => model.DoubleBed, htmlAttributes: new { @class = "labellogin" })
            <div class="col-md-2">                
                    @Html.EditorFor(model => model.DoubleBed)
                    @Html.ValidationMessageFor(model => model.DoubleBed, "", new { @class = "text-danger" })
            </div>
        </div>
        <br/>
        <div class="property">
            @Html.LabelFor(model => model.SingleBed, htmlAttributes: new { @class = "labellogin" })
            <div class="col-md-2">                
                    @Html.EditorFor(model => model.SingleBed)
                    @Html.ValidationMessageFor(model => model.SingleBed, "", new { @class = "text-danger" })              
            </div>
        </div>
        <br />
        <div class="property">
            @Html.LabelFor(model => model.ShareRoom, htmlAttributes: new { @class = "labellogin" })
            <div class="col-md-2">
              
                    @Html.EditorFor(model => model.ShareRoom)
                    @Html.ValidationMessageFor(model => model.ShareRoom, "", new { @class = "text-danger" })
               
            </div>
        </div>
        <br />
        <div class="property">
            @Html.LabelFor(model => model.CheckIn, htmlAttributes: new { @class = "labellogin" })
            <div class="col-md-2 textboxinput">
                @Html.TextBoxFor(model => model.CheckIn, "{0:yyyy-MM-dd}", new { @class = "form-control", type="date" })
                @Html.ValidationMessageFor(model => model.CheckIn, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="property">
            @Html.LabelFor(model => model.CheckOut, htmlAttributes: new { @class = "labellogin" })
            <div class="col-md-2 textboxinput">
                @Html.TextBoxFor(model => model.CheckOut, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(model => model.CheckOut, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="property">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "labellogin" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="property">
            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "labellogin" })
            <div class="col-md-5" style="height: 150%">
                @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control col-md-4", style = "height: 200%" } })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>
        </div>
       <br/>
        <div class="property" style="margin-top:100px">
            <div class="col-md-2" style="margin-left:50px">
                <input type="submit" value="Send" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back", "SelectFlatmates", new { id = Model.Request_ID, update = 0, rrqid = 0 })
</div>
